@model CategoryViewModel




@using (Html.BeginForm("Create", "CabinetCategory", FormMethod.Post))
{
    <label for="textInput">Input Category Name</label>
    <input type="text" id="textInput" name="Name" />

    <label for="textInput">Input Category Description</label>
    <input type="text" id="textInput" name="Description" />

    <button type="submit">Create</button>
}
@ViewBag.CategoryExist
