
@{
    var categories = ViewData["Caategories"] as List<CategoryViewModel>;
}

<li class="nav-item dropdown">
    <a href="#" id="menu" data-bs-toggle="dropdown" class="nav-link dropdown-toggle" style="margin-top: 38px; color: saddlebrown"><i class="fas fa-guitar"></i>Catalog</a>
    <ul class="dropdown-menu">
        @foreach (var category in categories)
        {
            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" style="color: saddlebrown" href="@Url.Action("GetProductsByCategory", "NavigationMenu", new { id = category.Id })">@category.Name</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" style="color: saddlebrown" href="#"></a></li>
                </ul>
            </li>
        }
    </ul>
</li>


@*<ul class="dropdown-menu">
    <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" style="color: saddlebrown" asp-controller="Home" asp-action="GetAcousticGuitars" asp-route-id="">Acoustic Guitars</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="color: saddlebrown" href="#">Classic</a></li>
            <li><a class="dropdown-item" style="color: saddlebrown" href="#">Folk</a></li>
            <li><a class="dropdown-item" style="color: saddlebrown" href="#">Dreadnought</a></li>
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" style="color: saddlebrown" asp-controller="Home" asp-action="GetElectricGuitars">Electric Guitars</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="color: saddlebrown" href="#">Stratocaster</a></li>
            <li><a class="dropdown-item" style="color: saddlebrown" href="#">Telecaster</a></li>
            <li><a class="dropdown-item" style="color: saddlebrown" href="#">SG</a></li>
            <li><a class="dropdown-item" style="color: saddlebrown" href="#">Les Paul</a></li>
        </ul>
    </li>

    <li><hr class="dropdown-divider"></li>
    <a class="nav-link active" style="color: saddlebrown" asp-controller="Home" asp-action="Catalog">All Guitars</a>
</ul>*@